*,  *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #3C3B3A;
    font-family: EB Garamond, sans-serif;
    font-size: 1.2em;
    color:white;
    min-height: 100vh;
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

.kevin bennet {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    color: #3C3B3A;
    text-decoration: none;
}

.kevin bennet {
    margin-left: 1rem;
}


.main-nav a {
    color: inherit;
    text-decoration: none;
    padding: 1rem;
}

.main-nav a:hover {
    color: #adadad;
    list-style: none;
    width: 100%;
    height: 90px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#parent > li {
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: red;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}
